<p> A data de hoje é: <%= Date.today %></p>

<p> Você está em ambiente de <strong><%=  ambiente_rails %> </strong></p>

<!--<p> Seu nome.: <strong><%= @nome %></strong></p>-->
<!--<p> Seu curso.: <strong><%= @curso %></strong></p>-->
